{% extends 'base.html' %}

{% block title %}
О нас
{% endblock %}

{% block body %}
<h1>Немного о нас</h1>
<div class="container mt-5">
    <h2>Отельный комплекс Grand Royal Plaza</h2>
    <div class="block-left">
        <p>Наш отельный комплекс это в первую очередь удобство. Вкусная кухня, приветливый
            персонал. Круглосуточная работа ресепшена всегда сможет решить ваши проблемы. Каждую среду и субботу мы
            проводим дискотеку. Так же каждый четверг проводится дискотека на бассейне. Каждое утро, перед завтраком, Вы
            сможете сделать разминку на бассейне вместе с нашим специально обученным тренером</p>
    </div>
    <div class="block-right">
        <h2 style="text-align: right">Активный отдых</h2>
        <p style="text-align: right">В нашем отеле присутствуют разные развлечения для Вашего активного отдыха. Начиная
            от велосипедов и заканчивая экскурсиями.</p>
        <h2 style="text-align: right">Экскурсии</h2>
        <p style="text-align: right">На нашей экскурсии Вы сможете проехать весь город и узнать его историю. Так же вы
            сможете посетить замечательные места, побывать на винзаводе, посетить зоопарк.</p>
        <h2 style="text-align: right">Детская комната</h2>
        <p style="text-align: right">На территории нашего отеля есть детская комната, в которой Вы сможете оставить
            своего ребенка. За ребенком будут смотреть специально обученные няни. Дети могут посетить кинотеатр для
            просмотра мультфильмов, который
            так же находится на территории отеля</p>
    </div>
</div>
<style>
    h1 {
        text-align: center;
    }

    p {
        font-size: 18px;
        margin-right: 20px;
        margin-left: 20px;
    }

    .block-left {
        width: 50%;
        overflow: auto;
        float: left;
    }

    .block-right {
        width: 50%;
        overflow: auto;
    }

    h2 {
        margin-bottom: 20px;
    }
</style>
{% endblock %}